input[type=text] {
    width: 300px;
    font-size: 16px;
    font-family: Helvetica;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 12px 10px 12px 10px;
}

#submit {
    border-radius: 2px;
    padding: 10px 32px;
    font-size: 16px;
}